h1{
     font-weight: bold;
}

.imagenfondo{
    background-image: url(img/yogasol.jpg);
    height: 1900px;    
    height: 635px;
}

.bienvenidos{
    font-size: 1.2em;   
}

footer{
    background-color: gray;
    color: white;
    text-align: center;   
}

.textoverde {
    color: green;
    font-weight: bold;
}

.imagenfondo2{
    background-image: url(img/Posturas.jpg);
    height: 1000px;    
    width: 640px;
    
}

.beneficios{
    font-size: 2.0em;   
}

.ppagina1{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif   ;
    font-style: italic;
    color: green;
    text-align: justify;
}

.textoazul{
    color: blue;
    font-weight: bold;
}

    .ppagina2{
        font-size: 22px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: blue;
        text-align: left;
    }

    .imagenfondo3{
        background-image: url(img/Serfeliz.jpg);
        height: 1000px;    
        width: 640px;

    }

    .p2pagina2{
        font-size: 26px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: blue;
        